html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
  text-align: center;
  font-family: canada-type-gibson,sans-serif;
  overflow: hidden;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
#textoSup {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
}
#textoSup h1 {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: estoyAburrida 1.5s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.3rem;
}
/*azul: #
celeste: #
verde: #*/
:root {
  --color-primary: #0dcaf0;
  --color-secondary: #0187a1;
  --color-tertiary: #0d6efd;
  --color-quaternary: #007c6c;
}
@keyframes estoyAburrida {
  0% {
    text-shadow: none;
  }
  17% {
    text-shadow: 1.5px 1.5px 0 var(--color-secondary);
  }
  34% {
    text-shadow: 1.5px 1.5px 0 var(--color-secondary),
      3px 3px 0 var(--color-tertiary);
  }
  51% {
    text-shadow: 1.5px 1.5px 0 var(--color-secondary),
      3px 3px 0 var(--color-tertiary), 4.5px 4.5px var(--color-quaternary);
  }
  70% {
    text-shadow: 1.5px 1.5px 0 var(--color-secondary),
      3px 3px 0 var(--color-tertiary), 4.5px 4.5px var(--color-quaternary);
  }
  80% {
    text-shadow: 1.5px 1.5px 0 var(--color-secondary),
      3px 3px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 1.5px 1.5px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
.flex {
  display: flex;
  width: 100%;
  vertical-align: center;
  justify-content: center;
}
.flex .card {
  margin: 20px;
  padding: 5px;
  border: 1px solid grey;
  text-align: center;
  box-shadow: 0 0 5px grey;
}
.flex .card img {
  border-radius: 10px;
}
.flex .card button {
  margin: 5px 0;
}